---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { HOME } from "@consts";
import croppedImage from "@assets/croppedImage.png";
import { Image } from "astro:assets";
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
    <Container backLink="/" backLinkText="Back to Index">
        <h1>Jay Gurav</h1>
        <span>Building software. Creating magic. Humming a tune.</span>

        <p>
            You can do anything. That’s what I believe and live by. Passionate
            about software and the endless possibilities of technology, I'm
            currently based in India, working as a Software Engineer for
            Decathlon UK.
        </p>

        <p>
            Navigating life on my own terms, seeking new experiences and
            opportunities. I’m constantly developing my skills through doing.
            Mindful that everything around me represents someone's dedicated
            effort and is their own piece of art, I aim to contribute my best
            work to the world.
        </p>

        <p>
            As a kid, I got myself a small handbook and dreamed of drawing the
            whole world in it, capturing everything I observed, saw, and
            learned. This old dream forms the basis for this site. For me,
            details are not just details; they are the essence of an experience,
            communicated by small, intimate observation.
        </p>

        <p>
            Am bad at photography, so I play with it, strangely capturing a time
            while humming music from my back mind. Though my curated favorites
            include classic rock, pop, country, and Indian classical music, I
            also do enjoy deep beats—songs that hook me up in first 10 seconds
            and help me focus.
        </p>

        <p>I too, am social.</p>

        Connect. Reach out to me at @jaymgurav or jaymgurav@gmail.com
    </Container>
</Layout>
