---
import { cn } from "@lib/utils";

type Props = {
  path: string;
  title: string;
  description: string;
  roundedTop?: boolean;
  roundedBottom?: boolean;
};

const { path, title, description, roundedBottom, roundedTop } =
  Astro.props as Props;
---

<a
  href={path}
  class={cn(
    "not-prose shadow-lg group relative flex flex-nowrap p-4 pr-10 transition-colors duration-300 ease-in-out bg-secondary/50 hover:bg-secondary/75",
    roundedBottom && "rounded-b-xl",
    roundedTop && "rounded-t-xl",
  )}
>
  <div class="gap-1/2 flex flex-1 flex-col truncate">
    <div class="font-medium">
      {title}
    </div>
    <div class="text-muted-foreground w-3/4 truncate text-sm">
      {description}
    </div>
  </div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    class="transition-right absolute top-1/2 right-4 size-5 -translate-y-1/2 fill-none stroke-current stroke-2 duration-300 ease-in-out group-hover:right-3"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    ><circle cx="12" cy="12" r="10"></circle><path d="M8 12h8"></path><path
      d="m12 16 4-4-4-4"></path></svg
  >
</a>
