---
import { cn } from "@lib/utils";
import type { CollectionEntry } from "astro:content";

type Props = {
  entry: CollectionEntry<"articles"> | CollectionEntry<"projects">;
  roundedTop?: boolean;
  roundedBottom?: boolean;
};

const { entry, roundedBottom, roundedTop } = Astro.props as Props;
---

<a
  href={`/${entry.collection}/${entry.id}`}
  class={cn(
    "not-prose shadow-lg group relative flex flex-nowrap p-4 pr-10 transition-colors duration-300 ease-in-out bg-secondary/50 hover:bg-secondary/75",
    roundedBottom && "rounded-b-xl",
    roundedTop && "rounded-t-xl",
  )}
>
  <div class="gap-1/2 flex flex-1 flex-col truncate">
    <div class="font-medium">
      {entry.data.title}
    </div>
    <div class="text-muted-foreground w-3/4 truncate text-sm">
      {entry.data.description}
    </div>
  </div>
  <!-- <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    class="absolute right-2 top-1/2 size-5 -translate-y-1/2 fill-none stroke-current stroke-2"
  >
    <line
      x1="5"
      y1="12"
      x2="19"
      y2="12"
      class="translate-x-3 scale-x-0 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-hover:scale-x-100 group-focus-visible:translate-x-0 group-focus-visible:scale-x-100"
    ></line>
    <polyline
      points="12 5 19 12 12 19"
      class="-translate-x-1 transition-transform duration-300 ease-in-out group-hover:translate-x-0 group-focus-visible:translate-x-0"
    ></polyline>
  </svg> -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    class="transition-right absolute top-1/2 right-4 size-5 -translate-y-1/2 fill-none stroke-current stroke-2 duration-300 ease-in-out group-hover:right-3"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    ><circle cx="12" cy="12" r="10"></circle><path d="M8 12h8"></path><path
      d="m12 16 4-4-4-4"></path></svg
  >
</a>
