---
import Link from "@components/Link.astro";
---

<nav class="text-muted-foreground flex items-center gap-2 text-sm">
    <!-- <Link href="/about">About</Link> -->
    <Link href="/articles">Articles</Link>
    <!-- <Link href="/learnings">Learnings</Link> -->
    <Link href="/projects">Projects</Link>
    <Link href="/papers">Papershelf</Link>
    <Link href="/books">Bookshelf</Link>
</nav>
