---
import { cn, formatTitle } from "@lib/utils";
import { date } from "astro:schema";
import { format } from "date-fns";
import { title } from "motion/react-client";

interface Props {
    items: {
        title: string;
        chapters: {
            title: string;
            href: string;
        }[];
    }[];
}

const { items } = Astro.props;
---

<div class="accordion-group mx-auto flex w-full flex-col gap-4">
    {
        items.map((item) => (
            <details
                name="accordion-group"
                class="group overflow-hidden rounded-lg border transition-all duration-300 [&_summary::-webkit-details-marker]:hidden"
            >
                <summary class="hover:bg-card bg-card flex cursor-pointer list-none items-center justify-between rounded-t-lg p-4 transition-colors">
                    <span class="font-medium">{formatTitle(item.title)}</span>
                    <span class="transition-transform duration-300 group-open:rotate-180">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="18"
                            height="18"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <path d="m6 9 6 6 6-6" />
                        </svg>
                    </span>
                </summary>

                <div class="overflow-hidden pt-2 pb-4">
                    <ul class="animate-accordion-down flex flex-col gap-2">
                        {item.chapters.map((chapter, index) => (
                            <li>
                                <a href={chapter.href} class={cn("relative")}>
                                    <div
                                        class={cn(
                                            "hover:text-foreground [&>span]:hover:text-foreground text-muted-foreground flex cursor-pointer justify-between pl-16",
                                            "py-0",
                                        )}
                                    >
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            stroke="currentColor"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            class="absolute top-1/2 left-10 -mt-1 h-4 w-4 -translate-y-1/2"
                                        >
                                            <path d="m15 10 5 5-5 5" />
                                            <path d="M4 4v7a4 4 0 0 0 4 4h12" />
                                        </svg>
                                        <h2>{formatTitle(chapter.title)}</h2>
                                    </div>
                                </a>
                            </li>
                        ))}
                    </ul>
                </div>
            </details>
        ))
    }
</div>
